body{
   background-image: url("./image/tapis\ de\ jeu.jpg"); 

    color: red;
   display: flex;
   
}

.newGameLargeur{
    margin-top: 100px;
    height: 500px;
}





#buttonHold{
    width: 200px;
    height:150px;
}

#lancerDés{
    width: 200px;
    height:150px;
}

